.messenger-chat {
	border-left: 1px solid #2c2f3a;
	height: 100%;
	width: calc(100% - 300px);

	.messenger-chat-empty-msg {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		font-size: 1.2em;
	}

	.ban-button-wrapper {
		position: relative;
	}

	.ban-button {
		background: none;
		font-size: 20px;
		color: #e30000;
		border: none;
		outline: none;
		cursor: pointer;
		transition: all 0.1s ease-in-out;
		padding: 4px 7px;
		border-radius: 8px;

		svg {
			margin-top: 2px;
		}

		&:hover {
			background-color: rgba(#777, 0.1);
		}
		&:active {
			opacity: 0.8;
		}
	}

	.ban-button-choices-wrapper {
		position: absolute;
		left: 70px;
		top: 0;
	}

	.ban-button-choices {
		width: 160px;
		color: white;
		display: flex;
		flex-direction: column;
		border-radius: 18px;
		font-size: 16px;
		background: #2c2f3a;
		box-shadow: 0 0 20px #1a1a1a;

		& > div {
			font-size: 18px;
			margin: 15px 0;
		}

		.ban-button-choices-mute-btn, .ban-button-choices-unmute-btn {
			border: none;
			outline: none;
			background: none;
			color: white;
			height: 45px;
			font-size: 14px;
			cursor: pointer;
			border-radius: 0;

			&:last-child {
				border-radius: 0 0 18px 18px;
			}
			&:first-child {
				border-radius: 18px 18px 0 0;
			}
		}

		.ban-button-choices-mute-btn:hover {
			background: #e30000;
		}
		.ban-button-choices-unmute-btn:hover {
			background: #29aa44;
		}
	}

	.messenger-chat-info {
		display: flex;
		align-items: center;
		height: 60px;
		border-bottom: 1px solid #2c2f3a;
		position: relative;
		padding-left: 25px;
		padding-right: 75px;

		.messenger-chat-info-channel {
			display: flex;
		}

		.messenger-chat-info-companion {
			display: flex;
			color: white;
			align-items: center;
			padding: 5px 25px 5px 10px;
			border-radius: 18px;
			transition: all 0.1s ease-in-out;
			height: 40px;

			div {
				font-size: 16px;
			}

			&:hover {
				background: #2c2f3a;
			}
		}

		.ban-button-choices-wrapper {

			.ban-button-choices {
				.ban-button-choices-mute-btn {
					white-space: nowrap;
					font-size: 16px;
					width: auto;
				}
			}
		}

		.messenger-chat-info-mute {
			color: #aaa;
			cursor: pointer;
			transition: all 0.1s ease-in-out;
			height: 40px;
			width: 40px;
			border-radius: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 15px;

			.messenger-chat-info-mute__muted-icon {
				color: #e30000;
			}

			svg {
				font-size: 20px;
				margin-bottom: 2px;
			}

			&:hover {
				background: #2c2f3a;
			}
			&:active {
				opacity: 0.8;
			}
		}

		.messenger-chat-info-play-btn {
			width: auto;
			font-size: 1em;
			height: 50px;
			border: none;
			outline: none;
			background: #2c2f3a;
			color: white;
			padding: 10px;
			border-radius: 18px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
			margin-left: auto;
			margin-right: 25px;

			.messenger-chat-info-play-btn-text {
				width: 150px;
			}

			.messenger-chat-info-play-btn-img {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 60px;
				height: 35px;
				background: #29aa44;
				border-radius: 14px;
				transition: all 0.1s ease-in-out;
			}

			.messenger-chat-info-play-btn-img-searching {
				background-color: #e30000;
			}

			&:hover {
				.messenger-chat-info-play-btn-img {
					background-color: #21b941;
				}
				.messenger-chat-info-play-btn-img-searching {
					background-color: #e30000;
				}
			}
			&:active {
				.messenger-chat-info-play-btn-img {
					opacity: 0.8;
				}
			}
		}

		.messenger-chat-info-name {
			font-size: 1.2em;
			display: flex;
			flex-direction: column;
			justify-content: center;

			.messenger-chat-info-title {
				text-align: left;
				font-size: 16px;
				align-items: center;
			}

			.messenger-chat-info-members {
				align-items: center;
				font-size: 0.6em;
				color: #aaa;
				text-align: left;
			}
		}

		button {
			background: none;
			outline: none;
			border: none;
			font-size: 24px;
			color: #aaa;
			cursor: pointer;
			transition: all 0.1s ease-in-out;
			height: 40px;
			width: 40px;
			border-radius: 10px;

			&:hover {
				background: #2c2f3a;
			}
			&:active {
				opacity: 0.8;
			}
		}

		.messenger-chat-info-settings-btn {
			position: absolute;
			right: 75px;

			svg {
				margin-top: 3px;
			}
		}

		.messenger-chat-info-img {
			width: 40px;
			height: 40px;
			margin-right: 15px;
			border-radius: 50%;
			font-size: 22px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid #1a1b1f;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			background-color: #1a1b1f;
		}

		.messenger-chat-close-btn {
			font-size: 26px;
			position: absolute;
			right: 20px;

			svg {
				margin-top: 3px;
			}
		}
	}

	.messenger-chat-join-private-form {
		height: calc(100% - 60px);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.messenger-chat-join-private-form-top {
			margin-bottom: 30px;
			font-size: 1.2em;

			span {
				margin-left: 10px;
			}

			svg {
				color: #29aa44;
			}
		}

		input {
			height: 40px;
			background: transparent;
			border: 1px solid #2c2f3a;
			border-radius: 18px;
			outline: none;
			font-size: 1em;
			color: white;
			padding: 0 25px;
			width: 200px;
			transition: all 0.1s ease-in-out;
			margin-bottom: 15px;

			&:focus {
				border-color: rgba(#29aa44, 0.5);
			}
		}

		button {
			background: #29aa44;
			color: white;
			outline: none;
			border: none;
			border-radius: 18px;
			font-size: 1.2em;
			padding: 0 25px;
			height: 35px;
			cursor: pointer;
			transition: all 0.15s ease-in-out;

			&:disabled {
				opacity: 0.6;
				cursor: default;
			}
		}

		.messenger-chat-join-private-errors {
			margin-bottom: 15px;
			color: #e30000;
		}
	}

	.messenger-chat-messages {
		height: calc(100% - 60px - 60px - 40px);
		width: calc(100% - 40px);
		overflow-y: scroll;
		padding: 0 20px;
		margin: 20px 0;

		&::-webkit-scrollbar {
			width: 8px;
			background: transparent;
		}
	}

	.messenger-chat-form {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 60px;
		padding-left: 20px;
		width: calc(100% - 20px);

		.messenger-chat-input {
			height: 58px;
			width: calc(100% - 100px - 50px);
			background: transparent;
			border: 1px solid #2c2f3a;
			border-radius: 18px;
			outline: none;
			font-size: 1em;
			color: white;
			padding: 0 25px;
			transition: all 0.1s ease-in-out;

			&:disabled {
				opacity: 0.6;
				cursor: not-allowed;
			}

			&:focus {
				border-color: rgba(#29aa44, 0.5);
			}
		}

		.messenger-chat-send-btn {
			width: 75px;
			height: 58px;
			border: 1px solid #2c2f3a;
			background: none;
			outline: none;
			border-radius: 18px;
			font-size: 20px;
			cursor: pointer;
			color: #29aa44;
			transition: all 0.1s ease-in-out;

			&:active {
				opacity: 0.8;
			}
			&:disabled {
				opacity: 0.6;
				cursor: not-allowed;
			}
		}
	}

	.messenger-chat-join-btn {
		height: 60px;
		font-size: 1em;
		cursor: pointer;
		background: none;
		outline: none;
		color: #29aa44;
		border: 1px solid #2c2f3a;
		padding-left: 20px;
		width: calc(100% - 20px);
		border-radius: 18px;
		transition: all 0.1s ease-in-out;

		&:hover {
			background: #2c2f3a;
		}
	}

	.messenger-create-chat, .messenger-create-channel {
		height: calc(100% - 61px);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		p {
			margin: 25px 0 10px;
			font-size: 20px;
		}

		.messenger-create-channel-visibility {
			margin: 10px 0;
			width: 300px;
			justify-content: space-around;
			display: flex;
		}

		.messenger-create-channel-errors {
			color: #e30000;
		}

		& > input {
			width: 250px;
			background: transparent;
			border: 1px solid #2c2f3a;
			padding: 10px 25px;
			font-size: 1em;
			border-radius: 18px;
			outline: none;
			color: white;
			transition: all 0.1s ease-in-out;

			margin: 10px 0;

			&:focus {
				border-color: rgba(#29aa44, 0.5);
			}
		}

		& > button[type='submit'] {
			margin: 20px 0 10px;
			width: 160px;
			background: #29aa44;
			color: white;
			border: none;
			outline: none;
			cursor: pointer;
			height: 35px;
			border-radius: 18px;
			font-size: 1em;
		}

		.is-private-checkbox {
			width: 90px;
			height: 40px;
			background: none;
			border: none;
			outline: none;
			cursor: pointer;
			color: white;
			font-size: 1em;
			display: flex;
			align-items: center;
			justify-content: space-between;

			& > div {
				width: 25px;
				height: 25px;
				border: 1px solid #2c2f3a;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&:focus > div {
				border-color: #29aa44;
			}

			.visibility-active {
				background: #29aa44;
				border-color: #29aa44;

				svg {
					margin-top: 2px;
					margin-left: 1px;
					color: white;
				}
			}
		}

		.messenger-create-chat-user {
			width: 350px;
			height: 60px;
			border: 1px solid #2c2f3a;
			display: flex;
			align-items: center;
			border-radius: 18px;
			margin-top: 15px;
			transition: all 0.1s ease-in-out;
			cursor: pointer;

			.messenger-create-chat-user-img {
				width: 50px;
				height: 50px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 100%;
				border-radius: 50%;
				margin: 0 15px;
			}

			&:hover {
				background: #2c2f3a;
			}
		}
	}

	.messenger-chat-settings {
		padding: 50px 0 180px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: calc(100% - 60px);
		box-sizing: border-box;
		overflow-y: scroll;

		&::-webkit-scrollbar {
			width: 8px;
			background: transparent;
		}

		.messenger-chat-settings-title {
			font-size: 26px;
			display: flex;
			align-items: center;
			position: relative;

			svg {
				color: #29aa44;
				font-size: 20px;
				margin-bottom: 2px;
				position: absolute;
				right: calc(100% + 10px);
			}
		}

		.messenger-chat-settings-name {
			font-size: 16px;
			color: #fff;
			margin: 5px 0;
		}

		.messenger-chat-settings-subscribers {
			font-size: 14px;
			color: #ccc;
		}

		.messenger-chat-settings-buttons {
			margin-top: 25px;

			button {
				background: #2c2f3a;
				border: none;
				outline: none;
				width: 100px;
				height: 65px;
				cursor: pointer;
				border-radius: 18px;
				font-size: 14px;
				color: #ccc;
				transition: all 0.1s ease-in-out;

				svg {
					font-size: 18px;
					margin-bottom: 5px;
				}

				&:hover {
					color: #29aa44;
				}
				&:active {
					opacity: 0.8;
				}
			}

			.messenger-chat-settings-buttons__leave {
			}
		}

		.messenger-chat-settings-accessibility {
			background: #2c2f3a;
			width: 500px;
			padding: 15px 25px;
			box-sizing: border-box;
			border-radius: 18px;
			margin-top: 25px;
			display: flex;
			flex-direction: column;
			align-items: center;

			#channel-is-private__checkbox {
				display: none;

				&:active + label {
					.channel_is_private__checkbox {
						border-color: #29aa44;
					}
				}

				&:checked + label {
					.channel_is_private__checkbox {
						background-color: #29aa44;
						border-color: #29aa44;
						& > svg {
							display: block;
						}
					}
				}

				& + label {
					cursor: pointer;
					position: relative;
					display: flex;
					align-items: center;

					.channel_is_private__checkbox {
						width: 22px;
						height: 22px;
						border-radius: 50%;
						border: 1px solid #aaa;
						margin-right: 15px;
						display: flex;
						justify-content: center;
						align-items: center;

						& > svg {
							font-size: 14px;
							display: none;
						}
					}
				}
			}

			.channel-is-private__password-input {
				margin-top: 25px;
				background: transparent;
				border: 1px solid #777;
				padding: 10px 25px;
				font-size: 1em;
				border-radius: 18px;
				outline: none;
				color: white;
				transition: all 0.1s ease-in-out;

				&::placeholder {
					font-size: 0.9em;
				}

				&:focus {
					border-color: rgba(#29aa44, 0.5);
				}
			}

			button[type=submit] {
				margin-bottom: 10px;
				width: 160px;
				background: #29aa44;
				color: white;
				border: none;
				outline: none;
				cursor: pointer;
				height: 35px;
				border-radius: 18px;
				font-size: 1em;
				transition: all 0.1s ease-in-out;

				&:disabled {
					opacity: 0.5;
					cursor: not-allowed;
				}
			}

			.channel-is-private__errors {
				margin: 15px 0;
				color: #e30000;
			}

			&:before {
				content: 'Accessibility';
				display: block;
				width: 100%;
				text-align: left;
				margin-bottom: 15px;
				color: #29aa44;
			}
		}

		.messenger-chat-settings-members-list {
			margin-top: 25px;
			background: #2c2f3a;
			width: 500px;
			padding: 15px 25px;
			box-sizing: border-box;
			border-radius: 18px;
			position: relative;

			.messenger-chat-settings-members-list__member {
				height: 50px;
				display: flex;
				align-items: center;
				margin-bottom: 10px;
				justify-content: space-between;

				&:last-child {
					margin-bottom: 0;
				}

				.messenger-chat-settings-members-list__member-user {
					width: 50%;
					text-align: left;
					display: flex;
					align-items: center;
				}

				.messenger-chat-settings-members-list__member-mute {
					width: 10%;
					color: #aaa;
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;

					&:after {
						content: attr(data-muted-until);
						transition: all 0.1s ease-in-out;
						display: block;
						visibility: hidden;
						opacity: 0;
						white-space: nowrap;
						color: white;
						padding: 10px 15px;
						border-radius: 12px;
						background: #2c2f3a;
						box-shadow: 0 0 20px #1a1a1a;
						z-index: 11;
						position: absolute;
						top: calc(100% + 10px);
						left: 50%;
						transform: translateX(-50%);
						font-size: 0.9em;
					}

					&:hover {
						&:after {
							opacity: 1;
							visibility: visible;
						}
					}
				}

				.messenger-chat-settings-members-list__member-img {
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					background-color: #1a1b1f;
					margin-right: 15px;
				}

				.messenger-chat-settings-members-list__member-login {
					text-align: left;
					color: white;
					cursor: pointer;
					transition: all 0.1s ease-in-out;

					&:hover {
						color: #29aa44;
					}
				}

				.messenger-chat-settings-members-list__member-status {
					width: 70px;
					height: 14px;
					display: flex;
					align-items: center;
					justify-content: center;

					svg {
						color: gold;
					}

					.toggle-btn {
						margin: 0 8px;
						background: #777;
						border: none;
						border-radius: 4px;
						width: 30px;
						height: 8px;
						outline: none;
						cursor: pointer;
						position: relative;
						display: flex;
						align-items: center;
						transition: all 0.1s ease-in-out;

						&:before {
							transition: all 0.1s ease-in-out;
							display: block;
							content: '';
							position: absolute;
							left: 0;
							width: 14px;
							height: 14px;
							background: #eee;
							border-radius: 50%;
						}

						&:hover {
							&:after {
								visibility: visible;
								opacity: 1;
							}
						}

						&:after {
							transition: all 0.1s ease-in-out;
							display: block;
							visibility: hidden;
							opacity: 0;
							content: 'Switch to admin';
							position: absolute;
							white-space: nowrap;
							color: white;
							padding: 10px 15px;
							border-radius: 12px;
							left: calc(100% + 15px);
							background: #2c2f3a;
							box-shadow: 0 0 20px #1a1a1a;
							z-index: 11;
						}
					}

					.toggle-btn-active {
						&:before {
							left: initial;
							right: 0;
							background: #29aa44;
						}
						&:after {
							content: 'Switch to member';
						}
					}
				}
			}

			&:before {
				text-align: left;
				display: block;
				margin-bottom: 15px;
				content: 'Members';
				color: #29aa44;
			}
		}
	}
}
