.recent-games {
	margin-top: 40px;
	padding: 30px 40px;
	position: relative;
	z-index: 1;

	.recent-game {
		font-size: 1.1em;
		width: calc(100% - 30px);
		display: flex;
		padding: 10px 15px;
		align-items: center;
		justify-content: space-between;
		position: relative;
		z-index: 1;

		.recent-game-img {
			position: relative;
			width: 50px;
			height: 50px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 90%;
			background-color: #2c2f3a;
			border-radius: 18px;
		}

		.recent-game-win {
			color: #3cb768;
		}

		.recent-game-lose {
			color: #e30000;
		}
	}
}
