.main-container {
	padding-top: 51px;
	height: calc(100vh - 51px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-tmp {
	height: calc(100vh - 51px);
	display: flex;
	align-items: center;
	justify-content: center;
}
