.login-container {
	margin: 0 auto;
	width: 1024px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h1 {
		margin-bottom: 30px;
	}

	form {
		display: flex;
		flex-direction: column;
		font-size: 1.2em;
	}

	input {
		border-radius: 15px;
		width: calc(400px - 52px);
		border: 1px solid #2c3e50;
		outline: none;
		font-size: 1em;
		padding: 16px 26px;
		margin-bottom: 15px;
		transition: all 0.1s ease-in;
		background: transparent;
		color: white;

		&:focus {
			border-color: #29aa44;
		}
	}

	button {
		border-radius: 15px;
		cursor: pointer;
		width: 400px;
		height: 50px;
		font-size: 1em;
		font-weight: bold;
		padding: 10px 12px;
		background: #29aa44;
		border: none;
		outline: none;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.05s ease-in;

		@media (hover: hover) {
			&:hover {
				background: #21b941;
			}
		}
		&:active {
			opacity: 0.8;
		}
	}

	.login-errors {
		margin-bottom: 15px;
		color: red;
		text-align: center;
	}

	.register-link {
		color: #21b941;
		font-size: 1.2em;
		width: fit-content;
		padding: 0;
		margin-top: 20px;

		&:hover {
			text-decoration: underline;
		}
	}

	.separator {
		margin-top: 30px;
	}

	.login-services {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 30px;

		.login-service {
			margin-bottom: 20px;

			.login-service-icon {
				width: 30px;
				height: 30px;
				background-position: center;
				background-size: 100%;
				background-repeat: no-repeat;
				background-image: url("../../img/42-logo.png");
				margin-left: 10px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
