.messenger {
	margin-top: 40px;
	padding: 30px 40px;

	.main-block-title {
		margin-bottom: 30px;
	}

	.messenger-container {
		width: 100%;
		height: 600px;
		display: flex;

		.messenger-contacts {
			width: 300px;
			height: 100%;
			overflow-y: auto;

			.messenger-contacts-header {
				height: 60px;
				border-bottom: 1px solid #2c2f3a;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-right: 10px;

				.messenger-contacts-header-search {
					width: calc(100% - 85px);
					padding: 10px 20px;
					background: #2c2f3a;
					outline: none;
					border-radius: 18px;
					font-size: 1em;
					color: white;
					transition: all 0.1s ease-in-out;
					border: 1px solid transparent;

					&:focus {
						border: 1px solid rgba(#29aa44, 0.5);
					}
				}

				.messenger-contacts-header-btn {
					z-index: 10;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 30px;
					height: 30px;
					font-size: 16px;
					color: #29aa44;
					background: none;
					border: none;
					outline: none;
					cursor: pointer;
					border-radius: 8px;
					position: relative;
					transition: all 0.3s ease-in-out;

					.messenger-contacts-header-menu-wrapper {
						position: absolute;
						top: 0;
						right: 0;
						padding-top: 40px;
					}

					svg {
						width: 26px;
						height: 26px;
					}

					.messenger-contacts-header-menu {
						background: #21232b;
						box-shadow: 0 0 20px #1a1a1a;
						z-index: 10;
						border-radius: 10px;
						cursor: auto;

						.messenger-contacts-header-menu-btn {
							display: flex;
							align-items: center;
							color: white;
							text-align: left;
							width: 180px;
							font-size: 1em;
							background: none;
							outline: none;
							border: none;
							cursor: pointer;
							padding: 12px 20px;

							svg {
								width: 20px;
								margin-right: 10px;
								color: #29aa44;
							}

							&:hover {
								background: #29aa44;

								svg {
									color: white;
								}
							}

							&:first-child {
								border-radius: 10px 10px 0 0;
							}
							&:last-child {
								border-radius: 0 0 10px 10px;
							}
						}
					}
				}

				.messenger-contacts-header-btn-active {
					//background-color: #29aa44;
					//color: #aaa;
				}
			}

			&::-webkit-scrollbar {
				width: 8px;
				background: transparent;
			}
		}
	}
}
