#game-canvas {
	//width: 1024px;
	//height: 600px;
	border: 1px solid #42b983;
	border-radius: 15px;
	//image-rendering: pixelated;
	image-rendering: high-quality;
}

.game-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.info-board {
		padding: 10px 20px;
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #ccc;
		font-size: 1.5em;
	}
}
