.message {
	min-height: 20px;
	max-width: 380px;
	width: fit-content;
	margin: 10px 0;
	border-radius: 18px;
	display: flex;
	align-items: center;
	font-size: 1em;
	position: relative;
	padding: 7px 50px 7px 15px;

	.message-time {
		font-size: 10px;
		position: absolute;
		right: 10px;
		bottom: 7px;
		color: #eee;
	}

	&:hover {
		&:after {
			visibility: visible;
			opacity: 1;
		}
	}

	&:after {
		transition: all 0.1s ease-in-out;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		content: attr(data-date);
		font-size: 12px;
		white-space: nowrap;
		color: #bbb;
		left: calc(100% + 10px);
		bottom: 5px;
	}
}

.companions-message {
	background: #2c2f3a;
	margin-right: auto;

	div::selection, time::selection {
		background: #29aa44;
	}
}

.companions-message-channel {
	position: relative;
	margin-left: 45px;
	padding-top: 22px;

	.companions-message-channel-img {
		position: absolute;
		width: 38px;
		height: 38px;
		background-color: #1a1b1f;
		left: -45px;
		bottom: 0;
		border-radius: 50%;
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
	}

	.companions-message-channel-name {
		position: absolute;
		color: #29aa44;
		top: 4px;
		font-size: 0.8em;
		font-weight: 500;
		height: 18px;

		&::selection {
			background: #29aa44;
			color: #1a1b1f;
		}
	}
}

.users-message {
	background: #29aa44;
	margin-left: auto;

	&::selection, time::selection {
		background: #2c3e50;
	}

	&:after {
		left: initial;
		right: calc(100% + 10px);
	}
}
