@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

body {
	background: #1a1b1f;
	font-size: 16px;
	position: relative;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: white;
}

::-webkit-scrollbar {
	background: #20222a;
}

::-webkit-scrollbar-thumb {
	background: #2c2f3a;
	border-radius: 1ex;
	-webkit-border-radius: 1ex;
}

:-webkit-autofill::first-line,
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
	font-size: 1.5em;
	color: white;
	-webkit-box-shadow: 0 0 0 1000px #1a1b1f inset;
	transition: box-shadow 0s;
}
