.chat_closed {
    width: 35%;
    height: 8%;
    background-color: burlywood;
    position: absolute;
    left: 0;
    bottom: 0;
}

.chat_opened {
    width: 35%;
    height: 40%;
    background-color: blue;
    position: absolute;
    left: 0;
    bottom: 0;
}

.chat_users_side {
    width: 33%;
    height: 85%;
    background-color: aliceblue;
    left: 1%;
    position: absolute;
    bottom: 2%;
}

.user_in_chat {
    background-color: coral;
}

.chat_performance {
    top: 2%;
    height: 9%;
    position: absolute;
}

.chat_user_info {
    width: 15%;
    height: 15%;
    position: absolute;
    background-color: chocolate;
    text-align: center;
}
.chat_user_profile_close_button {
    position: absolute;
    top: 1%;
    right: 1%;
    width: 5%;
    height: 17%;
    text-align: center;
    background-color: aqua;
}