body {
    background-color: aquamarine;
}

.user_authorized {
    width: 20%;
    height: 10%;
    background-color: crimson;
    position: absolute;
    right: 0;
    top: 0;
}

.user_unauthorized {
    width: 35%;
    height: 30%;
    background-color: chartreuse;
    position: absolute;
    right: 33%;
    bottom: 35%;
}

.search_ladder {
    width: 20%;
    height: 15%;
    background-color: darkviolet;
    position: absolute;
    right: 40%;
    bottom: 10%;
}

.finding_game {
    width: 25%;
    height: 20%;
    background-color: chartreuse;
    position: absolute;
    right: 38%;
    bottom: 40%;
}