#game_stats_count {
    width: 12%;
    height: 5%;
    right: 25%;
    top: 20%;
    position: absolute;
}

#game_stats_wins {
    width: 12%;
    height: 5%;
    right: 40%;
    top: 20%;
    position: absolute;
}

#game_stats_winPercent {
    width: 12%;
    height: 5%;
    right: 55%;
    top: 20%;
    position: absolute;
}

.user_authorized {
    min-width: 100px;
    min-height: 50px;
    width: 20%;
    height: 10%;
    background-color: crimson;
    position: absolute;
    right: 0;
    top: 0;
}

.user_unauthorized {
    width: 50%;
    height: 27%;
    min-width: 500px;
    min-height: 250px;
    max-width: 600px;
    max-height: 300px;
    /*background-color: chartreuse;*/
    position: absolute;
    left: 15%;
    top: 15%;
}

.user_login_button {
    border-radius: 15px;
    background: linear-gradient(145deg, #cacaca, #79E7AF);
    box-shadow:  24px 24px 47px #9b9b9b,
    -24px -24px 47px #ffffff;
    width: 25%;
    height: 25%;
    position: absolute;
    right: 5%;
    bottom: 25%;
}

.user_logout_button {
    width: 30%;
    height: 74%;
    background-color: chocolate;
    position: absolute;
    top: 25%;
    right: 1%;
}

.user_profile_button {
    width: 67%;
    height: 74%;
    background-color: green;
    position: absolute;
    top: 25%;
    left: 1%;
}

.user_profile {
    width: 40%;
    height: 30%;
    background-color: darkviolet;
    position: absolute;
    top: 1%;
    right: 21%;
}

.user_profile_close_button {
    position: absolute;
    top: 1%;
    right: 1%;
    width: 5%;
    height: 12%;
    text-align: center;
    background-color: aqua;
}

.user_profile_avatar {
    position: absolute;
    left: 1%;
    top: 1%;
    width: 25%;
    height: 50%;
}

#user_update_avatar {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 5%;
    height: 12%;
    text-align: center;
    background-color: beige;
}

.tab {
    text-align: left;
    width: 20%;
    background-color: beige;
    font-size: larger;
    margin: 1%;
    top: 5%;
}

.active_tab {
    text-decoration: underline;
}

#login_login_input {
    left: 25%;
    top: 20%;
    position: absolute;
}

#login_login_text {
    left: 9%;
    top: 16%;
    position: absolute;
}

#login_password_input {
    left: 7%;
    top: 45%;
    position: absolute;
}

#login_password_text {
    left: 25%;
    top: 59%;
    position: absolute;
}

.user_login_button > p {
    font-size: large;
    text-align: center;
}

#intra_img {
    width: 15%;
    height: 20%;
    right: 5%;
    top: 10%;
    position: absolute;
    object-position: 75% 25%;
}

#user_register_login {
    position: absolute;
    top: 20%;
    left: 5%;
}

#user_register_pass1 {
    position: absolute;
    top: 45%;
    left: 5%;
}

#user_register_pass2 {
    position: absolute;
    top: 70%;
    left: 5%;
}

#user_register_error_message {
    position: absolute;
    top: 10%;
    right: 5%;
}

#thank_you {
    text-align: center;
    top: 40%;
}

#login_error {
    position: absolute;
    bottom: 0;
}