.user_authorized {
    width: 20%;
    height: 10%;
    background-color: crimson;
    position: absolute;
    right: 0;
    top: 0;
}

.user_unauthorized {
    width: 35%;
    height: 30%;
    background-color: chartreuse;
    position: absolute;
    right: 33%;
    bottom: 35%;
}

.user_login_button {
    width: 30%;
    height: 30%;
    background-color: gold;
    position: absolute;
    right: 15%;
    bottom: 15%;
}

.user_logout_button {
    width: 30%;
    height: 74%;
    background-color: chocolate;
    position: absolute;
    top: 25%;
    right: 1%;
}

.user_profile_button {
    width: 67%;
    height: 74%;
    background-color: green;
    position: absolute;
    top: 25%;
    left: 1%;
}

.user_profile {
    width: 40%;
    height: 30%;
    background-color: darkviolet;
    position: absolute;
    top: 1%;
    right: 21%;
}

.user_profile_close_button {
    position: absolute;
    top: 1%;
    right: 1%;
    width: 5%;
    height: 12%;
    text-align: center;
    background-color: aqua;
}

.user_profile_avatar {
    position: absolute;
    left: 1%;
    top: 1%;
    width: 25%;
    height: 50%;
}