.list-section {
	width: calc(100% - 50px);
	border: 3px solid #1a1b1f;
	padding: 25px;
	border-radius: 18px;

	.list-section-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;

		svg {
			cursor: pointer;
			transition: all 0.15s ease-in-out;
			color: #aaa;

			&:hover {
				color: white;
			}
		}
	}

	.list-section-list {

		.list-section-empty {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 24px;
			padding: 25px;
			margin-top: 25px;

			svg {
				margin-left: 15px;
				color: #29aa44;
			}
		}

		.games-history-game {
			display: flex;
			padding: 5px 25px;
			margin: 10px 0;
			font-size: 0.8em;
			width: calc(100% - 50px);
			align-items: center;
			justify-content: space-between;
			transition: all 0.1s ease-in-out;
			border-radius: 15px;

			.games-history-enemy {
				display: flex;
				align-items: center;
				width: 220px;

				.games-history-game-img {
					position: relative;
					width: 50px;
					height: 50px;
					background-position: center;
					background-repeat: no-repeat;
					background-size: 100%;
					background-color: #2c2f3a;
					border-radius: 50%;
					margin-right: 20px;
				}

				.games-history-user-login {
					width: 150px;
					color: white;
					transition: all 0.1s ease-in-out;

					&:hover {
						color: #29aa44;
					}
				}

				.games-history-user-status {
					width: 9px;
					height: 9px;
					background: none;
					position: absolute;
					bottom: 0;
					right: 0;
					border-radius: 8px;
				}
			}

			.games-history-lose {
				width: 70px;
				color: #e30000;
			}

			.games-history-win {
				width: 70px;
				color: #3cb768;
			}

			.games-history-game-score {
				width: 80px;
				white-space: nowrap;
			}

			.games-history-game-date {
				min-width: 200px;
			}

			&:hover {
				background: #2c2f3a;

				.games-history-game-img {
					background-color: #21232b;
				}
			}
		}
	}
}
