{
  "parser": "typescript",
  "arrowParens": "always",
  "printWidth": 120,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "semi": true,
  "singleQuote": true,
  "useTabs": true,
  "tabWidth": 4,
  "trailingComma": "all"
}
